html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
}


/*******Header principal*******/

.white-header {
    display: flex;
    max-width: 100%;
    background: white;
}

.white-header a {
    text-decoration: none;
    cursor: pointer;
}

.white-header .bbc-logo {
    background: url(/img/bbc-logo.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5rem;
    width: 8.35rem;
    height: 2.4rem;
    padding: 0.85rem 3.3rem 1rem;
    border-right: thin solid #CACFD2;
    cursor: pointer;
}

.white-header .user-icon {
    padding: 1.2rem 0.2rem 1rem 1.7rem;
    border-right: thin solid #CACFD2;
    width: 15.5rem;
}

.white-header .user-icon .user-icon-container {
    background-image: url(/img/profile-user.png);
    background-size: 1.8rem;
    background-repeat: no-repeat;
}

.white-header .user-icon .user-icon-container a {
    min-width: 100%;
    display: block;
    text-decoration: none;
}

.white-header .user-icon span {
    margin-left: 2.5rem;
    line-height: 2rem;
    color: #333333;
    font-weight: 600;
}

.white-header .navbar {
    list-style: none;
    display: flex;
}

.white-header .navbar li {
    padding: 1.5rem 2rem 1.2rem;
    border-right: thin solid #CACFD2;
}

.white-header .navbar li a {
    color: #333333;
    font-weight: 600;
}

.white-header .navbar .more-arrow {
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 6rem;
}

.white-header .form-search {
    padding: 1rem 2rem 0.5rem 2rem;
}

.white-header .form-search div {
    background: #e4e4e4;
    width: 18rem;
    height: 2.4rem;
}

.white-header .form-search label {
    display: block;
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.white-header .form-search #search-input-box {
    width: 14.2rem;
    border: none;
    background: none;
    height: 2.4rem;
    float: left;
    padding-left: 0 0 0 0.6rem;
    font-weight: bold;
    text-indent: 0.2rem;
    color: black;
}

.white-header .form-search .search-box-button {
    background-image: url(/img/search.svg);
    width: 3.2rem;
    height: 2.4rem;
    cursor: pointer;
    border: none;
    overflow: hidden;
    text-indent: -999px;
    display: block;
    line-height: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.6rem 1.6rem;
    padding: 0;
}


/*******Banner rojo*******/

#banner-news-and-sections {
    background-color: #bb1919;
    display: flex;
}

.red-header {
    width: 100%;
    color: #bb1919;
}

.red-header .banner-logo {
    background: url(/img/news-logo.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    margin: 1.5rem 5rem 0;
    width: 12.2rem;
    height: 3.2rem;
    cursor: pointer;
}

.red-header .banner-logo a {
    text-decoration: none;
    cursor: pointer;
}

.red-header .red-nav {
    width: 100%;
    margin: 0.5rem 1rem 0;
    display: flex;
}

.red-header .red-nav ul {
    display: flex;
}

.red-header .red-nav li {
    border-right: thin solid #b4b5b642;
}

.red-header .red-nav a {
    text-decoration: none;
    color: white;
    padding: 0 1.3rem;
}

#first-item-red-nav {
    padding-left: 0;
}

#more-red-nav {
    margin: 1.2rem 0 0;
    height: fit-content;
}

#more-red-nav img {
    width: 1rem;
    height: 1rem;
    padding: 0 0.5rem;
}


/*******News Section*******/

#site-container {
    padding: 0rem 5rem;
}

#site-container h1 {
    font-size: 2rem;
    padding: 0;
    margin: 1rem 0 2rem;
    border-bottom: 0.3rem solid #bb1919;
    width: fit-content;
    font-weight: normal;
    color: #333;
}


/*Upper-section*/

.upper-section {
    display: flex;
}


/*Main-new*/

.upper-section .main-new {
    height: fit-content;
    width: 49rem;
}

.upper-section .main-new div {
    height: fit-content;
    width: 49rem;
}

.upper-section .main-new div img {
    width: 49rem;
}

.upper-section .main-new a {
    text-decoration: none;
}

.upper-section .main-new a div .main-new-header {
    margin: 0.5rem 0;
    color: black;
    font-size: 3rem;
    font-weight: bold;
}

.upper-section .main-new a div .main-new-paragraph {
    margin: 0.5rem 0;
    font-size: 1.4rem;
    color: #5a5a5a;
    font-weight: 100;
    line-height: 2rem;
    text-align: justify;
}

.upper-section .main-new a div .new-aditional-info {
    display: flex;
    margin: 0;
}

.upper-section .main-new a div .new-aditional-info .new-aditional-info-time {
    width: fit-content;
}

.upper-section .main-new a div .new-aditional-info .new-aditional-info-time img {
    height: 1.3rem;
    width: 1.3rem;
    background-position-y: center;
}

.upper-section .main-new a div .new-aditional-info .new-aditional-info-time span {
    color: #5a5a5a;
    font-size: 1.3rem;
    padding-right: 1rem;
    border-right: thin solid #e4e4e4;
}

.upper-section .main-new a div .new-aditional-info .new-aditional-info-section {
    margin: 0;
    color: #5a5a5a;
    width: fit-content;
    padding-left: 1rem;
}

.upper-section .main-new .related-news {
    margin: 0rem 0 0 -2rem;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 2.5rem;
}

.upper-section .main-new .related-news a {
    color: black;
}


/*Secondary-new-section*/

.upper-section .secondary-news {
    display: flex;
    width: fit-content;
}

.upper-section .secondary-news .first-row {
    display: flex;
}

.upper-section .secondary-news .first-row li {
    margin: 0 1.6rem 3rem 0;
}

.upper-section .secondary-news .second-row {
    display: flex;
}

.upper-section .secondary-news .second-row li {
    margin: 0 1.6rem 3rem 0;
}


/*Secondary-new*/

.upper-section .secondary-news ul {
    margin: 0 1rem 0 1.5rem;
    padding: 0;
    list-style: none;
}

.upper-section .secondary-news ul li div {
    width: 23.8rem;
}

.upper-section .secondary-news ul li div a {
    text-decoration: none;
}

.upper-section .secondary-news ul li div a img {
    width: 100%;
}

.upper-section .secondary-news ul li div a h5 {
    font-size: 1.5rem;
    margin: 0;
    width: 23.8rem;
    color: black;
}

.upper-section .secondary-news ul li div a p {
    margin: 0.5rem 0;
    font-size: 1.4rem;
    color: #5a5a5a;
    font-weight: 100;
    line-height: 2rem;
    text-align: justify;
}

.upper-section .secondary-news ul li div a .new-aditional-info {
    display: flex;
    margin: 0;
}

.upper-section .secondary-news ul li div a .new-aditional-info .new-aditional-info-time {
    width: fit-content;
}

.upper-section .secondary-news ul li div a .new-aditional-info .new-aditional-info-time img {
    height: 1.3rem;
    width: 1.3rem;
    background-position-y: center;
}

.upper-section .secondary-news ul li div a .new-aditional-info .new-aditional-info-time span {
    color: #5a5a5a;
    font-size: 1.3rem;
    padding-right: 1rem;
    border-right: thin solid #e4e4e4;
}

.upper-section .secondary-news ul li div a .new-aditional-info .new-aditional-info-section {
    margin: 0;
    color: #5a5a5a;
    width: fit-content;
    padding-left: 1rem;
}


/*Third-section-main-news*/

.third-main-news-section {
    width: 100%;
    margin: 0;
    padding: 0;
}

.third-main-news-section ul {
    display: flex;
    padding: 0;
    list-style: none;
}

.third-main-news-section ul li {
    padding: 0 1.6rem 3rem 0;
}

.third-main-news-section ul li div {
    width: 23.8rem;
}

.third-main-news-section ul li div a {
    text-decoration: none;
}

.third-main-news-section ul li div a img {
    width: 100%;
}

.third-main-news-section ul li div a h5 {
    font-size: 1.5rem;
    margin: 0;
    width: 23.8rem;
    color: black;
}

.third-main-news-section ul li div a p {
    margin: 0.5rem 0;
    font-size: 1.4rem;
    color: #5a5a5a;
    font-weight: 100;
    line-height: 2rem;
    text-align: justify;
}

.third-main-news-section ul li div a .new-aditional-info {
    display: flex;
    margin: 0;
}

.third-main-news-section ul li div a .new-aditional-info .new-aditional-info-time {
    width: fit-content;
}

.third-main-news-section ul li div a .new-aditional-info .new-aditional-info-time img {
    height: 1.3rem;
    width: 1.3rem;
    background-position-y: center;
}

.third-main-news-section ul li div a .new-aditional-info .new-aditional-info-time span {
    color: #5a5a5a;
    font-size: 1.3rem;
    padding-right: 1rem;
    border-right: thin solid #e4e4e4;
}

.third-main-news-section ul li div a .new-aditional-info .new-aditional-info-section {
    margin: 0;
    color: #5a5a5a;
    width: fit-content;
    padding-left: 1rem;
}


/*lowev-section*/

.lower-section {
    margin: 0;
    padding-top: 2rem;
}

.title-row-section h2 {
    font-weight: lighter;
    color: black;
    font-size: 2.5rem;
}

.title-row-section h2::before {
    content: '';
    position: absolute;
    width: 108rem;
    height: 1px;
    background-color: #7B756F;
    top: 113.5rem;
    left: 22rem;
    right: 0;
}