html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    background: #9b9b9b;
}


/*Header principal*/

.white-header {
    display: flex;
    max-width: 100%;
    background: white;
}

.white-header a {
    text-decoration: none;
    cursor: pointer;
}

.white-header .bbc-logo {
    background: url(/img/bbc-logo.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5rem;
    width: 8.35rem;
    height: 2.4rem;
    padding: 0.85rem 3.3rem 1rem;
    border-right: thin solid #CACFD2;
    cursor: pointer;
}

.white-header .user-icon {
    padding: 1.2rem 0.2rem 1rem 1.7rem;
    border-right: thin solid #CACFD2;
    width: 15.5rem;
}

.white-header .user-icon img {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
}

.white-header .user-icon span {
    margin-left: 2.5rem;
    line-height: 2rem;
    color: #333333;
    font-weight: 600;
}

.white-header .navbar {
    list-style: none;
    display: flex;
}

.white-header .navbar li {
    padding: 1.5rem 2rem 1.2rem;
    border-right: thin solid #CACFD2;
}

.white-header .navbar li a {
    color: #333333;
    font-weight: 600;
}

.white-header .navbar .more-arrow {
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 6rem;
}

.white-header .form-search {
    padding: 1rem 2rem 0.5rem 2rem;
}

.white-header .form-search div {
    background: #e4e4e4;
    width: 18rem;
    height: 2.4rem;
}

.white-header .form-search label {
    display: block;
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.white-header .form-search #search-input-box {
    width: 14.2rem;
    border: none;
    background: none;
    height: 2.4rem;
    float: left;
    padding-left: 0 0 0 0.6rem;
    font-weight: bold;
    text-indent: 0.2rem;
    color: black;
}

.white-header .form-search .search-box-button {
    background-image: url(/img/search.svg);
    width: 3.2rem;
    height: 2.4rem;
    cursor: pointer;
    border: none;
    overflow: hidden;
    text-indent: -999px;
    display: block;
    line-height: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.6rem 1.6rem;
    padding: 0;
}